ipykernel
ipywidgets
PyYAML
ensure
python-box  # for dot extension usage
py7zr  # for zip file
datasets # for importing outsource datasets 
fastapi
nltk
transformers
torch --index-url https://download.pytorch.org/whl/cu118
accelerate
uvicorn
scikit-learn
kaggle
matplotlib
-e .